<aside id="secondary" class="widget-area" role="complementary">
  <!-- Profile Widget -->
  <section id="custom_html-3" class="widget_text widget widget_custom_html">
    <h3 class="widget-title">Adam Wulf</h3>
    <div class="textwidget custom-html-widget">
      <p>
        <a href="/about/">
          <img alt="Adam Wulf Profile" src="/images/profile.png" width="56" height="56" border="0" class="profile">
        </a>
        I am an independent iOS and Mac app developer. This site hosts my various <a href="/projects/">projects</a> and <a href="/tutorials/">tutorials</a>.<br>Read more <a href="/about/">about me</a>.
      </p>
    </div>
  </section>

  <!-- Muse Widget -->
  <section class="widget widget_custom_html">
    <h3 class="widget-title">Muse for iPad</h3>
    <div class="textwidget custom-html-widget">
      <p>
        <a class="no-underline" href="https://museapp.com/">
          <img src="/images/muse.png" width="128" height="128" border="0" style="margin:0 10px 10px 0">
        </a>
        Muse is a spatial canvas for iPad and Mac. It's your calm space for deep thinking.
        <br>
        <a href="https://museapp.com/download?utm_campaign=adamwulf.me" class="no-underline">
          <img src="/images/download-ios.svg" alt="Download on the App Store" style="height: 40px; margin-top: 8pt;">
        </a>
      </p>
    </div>
  </section>

  <!-- Contact Widget -->
  <section id="custom_html-4" class="widget_text widget widget_custom_html">
    <h3 class="widget-title">Contact</h3>
    <div class="textwidget custom-html-widget">
      <p>
        <img alt="email" src="/images/email16.png" class="icon" srcset="/images/email16@2x.png 2x, /images/email16.png 1x"> 
        <script language="JavaScript">
          var name = "adam";
          var domain = "adamwulf.me";
          document.write("<a href=\"mailto:" + name + "@" + domain + "\">");
          document.write(name + "@" + domain + '</a>');
        </script>
      </p>
      <p>
        <img src="/images/mastodon.png" srcset="/images/mastodon@2x.png 2x, /images/mastodon.png 1x" class="icon"> 
        <a rel="me" href="https://mstdn.social/@adamwulf">Mastodon</a>
      </p>
      <p>
        <img src="/images/bluesky.png" srcset="/images/bluesky@2x.png 2x, /images/bluesky.png 1x" class="icon"> 
        <a rel="me" href="https://bsky.app/profile/adamwulf.bsky.social">Bluesky</a>
      </p>
      <p>
        <img alt="github" src="/images/github16.png" class="icon" srcset="/images/github16@2x.png 2x, /images/github16.png 1x"> 
        <a href="https://github.com/adamwulf">GitHub</a>
      </p>
      <p>
        <img src="/images/lin.png" class="icon" srcset="/images/lin@2x.png 2x, /images/lin.png 1x"> 
        <a href="http://www.linkedin.com/in/adamwulf">LinkedIn</a>
      </p>
    </div>
  </section>

  <!-- Popular Posts Widget -->
  <section id="nav_menu-2" class="widget widget_nav_menu">
    <h3 class="widget-title">Popular</h3>
    <div class="menu-popular-pages-container">
      <ul id="menu-popular-pages" class="menu">
        <li class="menu-item">
          <a href="/2022/06/muse-sync-at-programming-local-first-workshop-ecoop22/">Muse Sync at Programming Local First Workshop – ECOOP'22</a>
        </li>
        <li class="menu-item">
          <a href="/2021/03/books-for-robots/">Books for Robots</a>
        </li>
        <li class="menu-item">
          <a href="/columnizer-jquery-plugin/">Columnizer jQuery Plugin</a>
        </li>
        <li class="menu-item">
          <a href="/open-source/model-view-controller-in-jquery/">Model-View-Controller in jQuery</a>
        </li>
        <li class="menu-item">
          <a href="/open-source/bundled-synchronous-ajax-with-jquery/">Bundled and Ordered Asynchronous AJAX</a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Links Widget -->
  <section id="nav_menu-3" class="widget widget_nav_menu">
    <h3 class="widget-title">Links</h3>
    <div class="menu-outbound-links-container">
      <ul id="menu-outbound-links" class="menu">
        <li class="menu-item">
          <a href="https://museapp.com/">Muse App</a>
        </li>
        <li class="menu-item">
          <a href="https://getlooseleaf.com/">Loose Leaf App</a>
        </li>
        <li class="menu-item">
          <a href="https://www.jotbook.net/">Jotbook</a>
        </li>
        <li class="menu-item">
          <a href="http://buckwilson.me/">Buck Wilson</a>
        </li>
      </ul>
    </div>
  </section>
</aside><!-- #secondary -->